body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 9%, rgba(50,89,210,0.9923319669664741) 56%, rgba(202,203,187,0.7794468129048494) 100%);
}

h1{
    color: lime;
}

thead{
    color: red;
}

tbody{
    color: white;
}



h2{
    font-family: 'Baloo Tamma', cursive;
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: white;
    font-size: 80px;
    letter-spacing: 5px;
    top: 50%;
    position: absolute;
    margin-top: -40px;
    
    text-shadow: -1px -1px 0px black,
      3px 3px 0px black,
      6px 6px 0px white;
  }

h3{
    color: aquamarine;
}


label{
    color: white
}


#iformInsumo{
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
}

